body{
  font-family: 'Barlow Condensed', sans-serif;
}
.weather-app {
    margin: 100px 500px;
    width: 300px;
    height: 165px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 50px #888888;
    overflow: hidden;
    text-align:center;
    font-family: 'Barlow Condensed', sans-serif;
    padding-bottom: 10px;
    font-size: 16px;
}

.left {
    float: left;
    background: #1E6F8B;
    padding:10px;
    width:150px;
    height:100%;
    color:white;
    /*border-right:solid #000 2px;*/
}

.temperature {
    margin-top:30px;
    margin-bottom:5px;
    font-size:32px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
    width: 150px;
}

.location {
    font-size: 25px;
    text-shadow: 2px 2px 4px #000;
    width:100%;
    width:150px;
}

.right {
    float: right;
    width:130px;
    height:100%;
}

.top {
    height: 100px;
    width: 100%;
    margin: auto;
    background: #DCEBF2;
    border-bottom:solid #000 2px;
    box-shadow: 2px 2px 4px #000000;
}

.top img {
    margin-top: 25px;
    height: 60px;
    width: 70px;
}

.bottom {
    height: 500px;
    background: #AACBF5;
    color: #000;
    font-weight: bold;
}

.humidity {
    /*text-shadow: 1px 1px 1px #000;*/
    /*padding: 4px;*/
    font-size: 18px;
    color: #F74050;
}

#humidity {
  font-size: 30px;
}

.wind {
  text-shadow: 2px 2px 4px #fff;
  font-size: 25px;
  padding-bottom: 5px;
}

.weatherType {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  padding-bottom: 15px;
  font-size: 20px;
}
.img#icon {
  padding-bottom: 40px;
  text-shadow: 2px 2px 4px #fff;

}
