body {
  background-color: #234237;
}

h1 {
  color: #894B43;
  text-align: center;
  font-weight: bold;
  margin: 20px;
}

#icon {
  height: 80px;
  width: 80px;
}

.weatherCondition {
  height: 300px;
  width: 100px;
}
